<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>

<% content_for :title do %>
  <title><%= @user.name %>-monolist</title>
  <meta name="description" content="<%= @user.name %>のモノページ。<%= @user.name %>の欲しいモノ、持っているモノを表示しています。" >
<% end %>