<div class="container" id="ranking">
  <div class="page-title">
    <h1><%= @title %></h1>
  </div>
  <div class="container-inner inner-default clearfix">
    <% @items.each.with_index(1) do |item, i| %>
      <div class="item-box">
        <div class="number">
          <%= "#{i}ä½" %>
        </div>
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.title %>
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
        
      </div>
    <% end %>
  </div>
</div>
